# Include project info
include README.md
include LICENSE.txt
include pyproject.toml

# Include data files
include src/itaxotools/hapsolutely/gui/logos/*
include src/itaxotools/hapsolutely/gui/icons/*
