alfpy==1.0.6
appdirs==1.4.4
attrs==23.1.0
biopython==1.81
clldutils==3.19.0
colorama==0.4.6
colorlog==6.7.0
contourpy==1.0.7
convphase==0.0.1
cycler==0.11.0
DNAconvert==0.2.0
et-xmlfile==1.1.0
fonttools==4.39.4
itaxotools-common==0.3.dev0
kiwisolver==1.4.4
lxml==4.9.2
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
networkx==3.1
newick==1.9.0
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pip==23.1.2
pylatexenc==2.10
pyparsing==3.0.9
PySide6==6.4.2
PySide6-Addons==6.4.2
PySide6-Essentials==6.4.2
python-dateutil==2.8.2
python-nexus==2.9.0
pytz==2023.3
scipy==1.10.1
seaborn==0.12.2
setuptools==67.7.2
shiboken6==6.4.2
six==1.16.0
spart-parser==0.1.1
tabulate==0.9.0
taxi-gui==0.2.dev0
taxi2==2.1.dev1
termcolor==2.3.0
tzdata==2023.3
wheel==0.40.0
